/**
 * @Author: johnhaigh
 * @Date:   2020-06-24T18:49:42+01:00
 * @Last modified by:   johnhaigh
 * @Last modified time: 2021-04-04T20:42:38+01:00
 */

#form {
    width: 80%;
    margin:0 auto;
    text-align: center;
    padding: 20px
}

#center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 30px;
}

#width {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding: 20px;
}

#tablepadding {
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}


.icon {
    max-width: 175px;
    height: auto;
    padding: 20px;
}

body {
    border-color: coral;
    }

h4{
    text-align: center;
    colour: white;
    font-weight: 100;
    padding: 20px
    }

#padding{
  padding: 30px;
}

#title{
  font-weight: 150
  padding: 30px;
}

.center {
  width:50%;
  height:50%;
  margin:0 auto;
}

body{

  background-image: url("images/onboard_homepage_background_1400x933px.jpg");
  background-repeat: repeat;
  background-size: cover;
  background-color: #464646;
  height: 200vh;
}

footer{
  text-align: center;
  height: 40px;
  display: fixed;
  bottom: 10px;
}

#chart {
  height: 400px;
  width: 400px;
}

#red{
  color:Tomato;
}
#green {
  color:MediumSeaGreen;
}

.circle {
  background: #1e90ff;
  clip-path: circle(15%);
  height: 5em;
  width: 5em;
}


.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.modal {
  width: 300px;
  margin: 0 auto;
  border: 1px solid var(--border-color);
  box-shadow: 0px 0px 5px rgba(0,0,0,0.16);
  background-color: #fff;
  border-radius: 0.25rem;
  padding: 2rem;
  z-index: 1;
}

.emoji {
  display: block;
  text-align: center;
  font-size: 5rem;
  line-height: 5rem;
  transform: scale(0.5);
  animation: scaleCup 2s infinite alternate;
}

@keyframes scaleCup {
  0% {
    transform: scale(0.6);
  }

  100% {
    transform: scale(1);
  }
}

.modal-btn {
  display: block;
  margin: 0 -2rem -2rem -2rem;
  padding: 1rem 2rem;
  font-size: .75rem;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  font-weight: 600;
  border-radius: 0 0 .25rem .25rem;
  background-color: var(--green);
  text-decoration: none;
}

@keyframes confettiRain {
  0% {
    opacity: 1;
    margin-top: -100vh;
    margin-left: -200px;
  }

  100% {
    opacity: 1;
    margin-top: 100vh;
    margin-left: 200px;
  }
}

.confetti {
  opacity: 0;
  position: absolute;
  width: 1rem;
  height: 1.5rem;
  transition: 500ms ease;
  animation: confettiRain 5s infinite;
}

#confetti-wrapper {
   overflow: hidden !important;
}

.block_full {
  height: 90vh;
}

.block_m {
  height: 60vh;
}
