{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block style %}


{% endblock %}

{% block header%}
    {{header}}
{% endblock %}

{% block main %}

  <div id="center">
    <img src="static/images/onboard_logo_bk.png" alt="onboard large logo">
    <h3 class="uk-text-center uk-text uk-text-lighter">Simplifying The Training Of New Partners</h3>

    
    <br/>
    <div id='center'>
      <a href="/register" class="uk-button uk-button-default">Register</a>
      <a href="/login"class="uk-button uk-button-primary">Login<a>
    </div>
  </div>


{% endblock %}
