{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block style %}


{% endblock %}

{% block header%}
    {{header}}
{% endblock %}

{% block main %}

  <div id="center">
    <img src="static/images/onboard_logo_large.png" alt="onboard large logo">
    <h3 class="uk-text-center uk-text uk-text-lighter">Simplifying The Transition For New Partners</h3>
    <br/>
    <table id='center'>
      <tr>
        <td><a href="/register" class="uk-button uk-button-secondary">Register</a></td>
        <td><a href="/login"class="uk-button uk-button-primary">Login<a></td>
      </tr>
    </table>
  </div>


{% endblock %}
