<!DOCTYPE html>

<html lang="en">

<head>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- documentation at http://getbootstrap.com/docs/4.1/, alternative themes at https://bootswatch.com/ -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">

  <link href="/static/favicon.ico" rel="icon">
  <link href="/static/styles.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="static/css/uikit.min.css" />
  <script src="static/js/uikit.min.js"></script>
  <script src="static/js/uikit-icons.min.js"></script>
  <script src="static/js/lists.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

  <title>onboard | {% block title %}{% endblock %}</title>

  <style>
    {
      % block style %
    }

      {
      % endblock %
    }
  </style>

  <script>

  {
    % block script %
  }

    {
    % endblock %
  }
  </script>

</head>

<div class="uk-position-relative">
  <div class="uk-position-top">
    <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
      <div class="uk-navbar-right" >
        <ul class="uk-navbar-nav">
          {% if session.user_id %}

          <li><a href="/dashboard">Dashboard</a></li>
          <li><a href="/report">Reports</a></li>
          <li><a href="/pathways">Pathways<span uk-icon="icon:  triangle-down"></span></a>
            <div class="uk-navbar-dropdown">
              <ul class="uk-nav uk-navbar-dropdown-nav">
                <li><a href="/pathways">All Pathways</a></li>
                <li><a href="/newpathway">Create New Pathway</a></li>
                <li><a href="/enroll">Enroll Onto Pathway</a></li>
              </ul>
            </div>
          </li>

          <li><a href="/people">People<span uk-icon="icon:  triangle-down"></span></a>
            <div class="uk-navbar-dropdown">
              <ul class="uk-nav uk-navbar-dropdown-nav">
                <li><a href="/people">All People</a></li>
                <li><a href="/newperson">Add New Person</a></li>
              </ul>
            </div>
          </li>

          <li>
            <a href="#">{{FullName}}<span uk-icon="icon:  triangle-down"></span></a>
            <div class="uk-navbar-dropdown">
              <ul class="uk-nav uk-navbar-dropdown-nav">
                <li><a href="/profile">Profile</a></li>
                <li class="uk-nav-divider"></li>
                <li><a href="/logout">Log Out</a></li>
                {% else %}
                <li><a href="/register">Register</a></li>
                <li><a href="/login">Login</a></li>
                {% endif %}
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>

<body class="p-3 mb-2 bg-light">


  <nav class="uk-navbar-container uk-navbar-transparent">

    {% if session.user_id %}
    <a href="/dashboard"><img src="/static/images/onboard_logo.png" height="75px" width="244px" alt="Logo"></a>

    {% else %}
    <a href="/dashboard"><img src="/static/images/onboard_logo.png" height="75px" width="244px" alt="Logo"></a>
    {% endif %}

  <main class="container p-5">
    {% block main %}
<div class="homepagebackground">


</div>
    {% endblock %}
  </main>

<footer id="page-footer" class="uk-margin-top" uk-sticky="bottom: true">
      <div class="footer">
          <a href="mailto:johnhaigh@icloud.com"><small>Copyright(C) John Haigh 2021</small></p>
        </div>
</footer><!--/footer#page-footer-->


</body>

</html>
