{% extends "layout.html" %}

{% block title %}
Pathways
{% endblock %}

{% block main %}

<div class="uk-card uk-card-default uk-card-small">

  <div class="uk-text-center uk-card-body">
    <div>
      <h3><small>Add a new Pathway</small></h3>
      <br />
      <a href="/upload" class="uk-button uk-button-link">Create new pathway from file?</a>
    </div>

    <form class="uk-form-horizontal uk-margin-large" method="POST" id="form">
      <div class="uk-margin">
        <label class="uk-form-label" for="form-horizontal-text">Name Your Pathway</label>
        <div class="uk-form-controls">
          <input class="uk-input" id="form-horizontal-text" type="text" name="pathwayName">
        </div>
      </div>

      <div class="uk-margin">
        <label class="uk-form-label" for="form-horizontal-text">What does it do?</label>
        <div class="uk-form-controls">
          <input class="uk-input" id="form-horizontal-text" type="text" name="pathwayDescription">
        </div>
      </div>

      <div class="uk-margin">
        <label class="uk-form-label" for="form-horizontal-select">Sharing Preferences</label>
        <div class="uk-form-controls">
          <select class="uk-select" id="form-horizontal-select" name="public">
            <option>Private To Me</option>
            <option>Shared Across My Organisation</option>
          </select>
        </div>
      </div>

      <button class="uk-button uk-button-primary" type="submit" method="POST">Add Stages</button>

    </form>



  </div>

</div>

{% endblock %}
