{% extends "layout.html" %}

{% block title %}
New Person
{% endblock %}

{% block main %}


<div class="uk-card uk-card-default uk-card-small">

  <div class="uk-text-center uk-card-body">
      <h2 class="uk-text-center uk-text uk-text-lighter">Add A New Person</h2>
  </div>

  <form action="/newperson" method="post" id="form" class="uk-text-center uk-text uk-text-lighter">
    <div class="uk-margin">
      <input autocomplete="off" autofocus class="uk-input" name="firstname" placeholder="First Name" type="text" required>
    </div>

    <div class="uk-margin">
      <input class="uk-input" name="lastname" placeholder="Surname" type="text" required>
    </div>

    <div class="uk-margin">
      <input class="uk-input" name="mobile" placeholder="Mobile Phone Number" type="text" required>
    </div>

    <div class="uk-margin">
      <input class="uk-input" name="email" placeholder="Email Address" type="text" required>
    </div>

    <div class="uk-margin">
      <input class="uk-input" name="bam" placeholder="Business Acquisition Manager" type="text" required>
    </div>

    <div class="uk-margin">
      <p style="text-align: left;" class="uk-text-left uk-text uk-text-lighter"> Lane:</p>
      <select class="uk-select" name="history">
        {% for row in rows%}
        <option>{{row['pathwayName']}}</option>
        {% endfor %}
      </select>
    </div>

<div class="uk-margin">
  <input class="uk-input" name="exemployeddeal" placeholder="Ex Employed Deal in £" type="int" required>
</div>

<div class="uk-margin">
  <input class="uk-input" name="exemployeddealexpiry" placeholder="Ex Employed Deal Expiry" type="text" data-uk-datepicker="{format:'DD.MM.YYYY'}">
          </div>

          <div class=" uk-margin">
  <input class="uk-input" name="businessWrittenPreviousMonth" placeholder="Business Written Previous Month" type="int">
</div>

<div class="uk-margin">
  <input class="uk-input" name="businessWrittenYearToDate" placeholder="Business Written Since Appointment" type="int">
</div>

<div class="uk-margin">
  <input class="uk-input" name="minincome" placeholder="Minimum Income Threshhold" type="text" required>
</div>

<div class="uk-margin">
  <input class="uk-input" name="practice" placeholder="Practice" type="text">
</div>

<button class="uk-button uk-button-primary" type="submit">Submit</button>
</form>

</div>

{% endblock %}
