{% extends "layout.html" %}

{% block title %}
People
{% endblock %}

{% block main %}

<div class="uk-card uk-card-default uk-card-small">
  <div class="uk-text-center uk-card-body">
    <h2 class="uk-text uk-text-lighter">People</h2>
  </div>
  <div>

<div id="scatter" style="padding-left: 10px; padding-right: 30px; padding-bottom: 80px">

  <canvas id="myChart1" height="150px"></canvas>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/chart.js/dist/Chart.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-trendline"></script>
   <script>
   new Chart.Scatter(document.getElementById("myChart1"), {
   type: 'bubble',
   data: {
     labels: {{ labels | safe }},
     datasets: [{
       data: {{ data | safe }},
       showLine: false,
       fill: true,
       tension: 0.4,
       borderColor: 'blue',
       borderWidth: 1,
       borderColor: "white",
       backgroundColor: "rgba(0, 137, 255, 0.4)",
       opacity: .1,
       pointBackgroundColor: {{bubblecolour | safe}},
       pointBorderColor: 'white',
       pointRadius: 8,
       pointHoverRadius: 9,
       spanGaps: true,
       trendlineLinear: {
                style: "rgb(43 ,66 ,255, 0.3)",
                lineStyle: "solid",
                width: 2
              }
     },],
   },
   options: {
     animation: {
      easing: 'easeInOutQuad',
      duration: 400
    },
    spanGaps: true,
     tooltips: {
       mode: 'index',
       intersect: false,
       callbacks: {
               title: function(tooltipItem, data) {
         return data['labels'][tooltipItem[0]['index']];},
                 label: function(tooltipItem) {
                   return + Number(tooltipItem.yLabel) + " days in pathway" +', '+ Number(tooltipItem.xLabel)+"% complete";
                 }
             }
         },
            responsive: true,
            legend: {display: false},
      scales: {
          xAxes: [{
                  display: true,
                  ticks: {
                      beginAtZero: true,
                      steps: 10,
                      stepValue: 5,
                      max: 100
                      },
                    scaleLabel: {
                        display: true,
                        labelString: '% Progress'
                    }
                }],
          yAxes: [{
                  display: true,
                  ticks: {
                      beginAtZero: true,

                      },
                    scaleLabel: {
                        display: true,
                        labelString: 'Days in Pathway'
                          }
                      }],
            },
            showLines: true

          }
   });



  </script>
</div>


    <table class="uk-table uk-table-middle uk-table-divider uk-text uk-text-lighter">
      <thead>
        <th><form action='/people' method='post'><button type='submit' class="uk-button uk-button-link" value="name" name='sort'>Name</button></form></th>
        <th><form action='/people' method='post'><button type='submit' class="uk-button uk-button-link" value="pathway" name='sort'>Pathway</button></form></th>
        <th style="text-align: center; vertical-align: middle;"><form action='/people' method='post'><button type='submit' class="uk-button uk-button-link" value="progress" name='sort'>Progress</button></form></th>
        <th style="text-align: center; vertical-align: middle;">Date Enrolled</th>
        <th style="text-align: center; vertical-align: middle;"><form action='/people' method='post'><button type='submit' class="uk-button uk-button-link" value="days" name='sort'>Days Enrolled</button></form></th>
        <th style="text-align: center; vertical-align: middle;">Est Completion</th>
        <th style="text-align: center; vertical-align: middle;"><form action='/people' method='post'><button type='submit' class="uk-button uk-button-link" value="score" name='sort'>Score</button></form></th>

      </thead>
      {% for rows in rows %}
      <tr>
        <td><a href="/viewperson?name={{rows['email']}}"><small>{{rows['firstname']}} {{rows['lastname']}}</small></a></td>
        <td><a href="/progress?name={{rows["email"]}}&pathway={{rows['pathwayEnrolled']}}"><small>{{rows['pathwayEnrolled']}}</small></a></td>
        <td style="text-align: center; vertical-align: middle;"><small>{{rows['pathwayEnrolledProgress']}}%</small></td>
        <td style="text-align: center; vertical-align: middle;"><small>{{rows['pathwayEnrolledDate']}}</small></td>
        <td style="text-align: center; vertical-align: middle;"><small>{{rows['daysinpathway']}}</small></td>
        <td style="text-align: center; vertical-align: middle;"><small>{{rows['estcompletion']}}</small></td>
        {% if rows['businessWrittenYearToDate'] >= (rows['daysinpathway'] * 165) %}
          <td uk-tooltip="title: £{{rows['businessWrittenYearToDate'] - (rows['daysinpathway'] * 165)}} above target" style="text-align: center; vertical-align: middle;"><span class="badge badge-pill badge-primary">{{rows['score']}}</span></td>
        {% else %}
          <td uk-tooltip="title: £{{rows['businessWrittenYearToDate'] - (rows['daysinpathway'] * 165)}} short of target" style="text-align: center; vertical-align: middle;"><span class="badge badge-pill badge-danger">{{rows['score']}}</span></td>
        {% endif %}
      </tr>
      {% endfor %}
    </table>

  </div>
  <div id="center">
    <a href="/newperson" uk-icon="icon: plus; ratio: 2"></a>
  </div>

</div>

{% endblock %}
