{% extends "layout.html" %}

{% block title %}
  Profile
{% endblock %}

{% block script%}

{% endblock %}

{% block style %}
{% endblock %}

{% block header%}
{{header}}
{% endblock %}

{% block main %}


<div class="uk-card uk-card-default uk-card-small">
<h4 class="uk-text uk-text-lighter">Your Profile</h4>
<div id="center">

  <table class="uk-table uk-table-divider uk-text uk-text-lighter">
    <tr><td>{{firstname}} {{lastname}}</td></tr>
    <tr><td>Email: {{email}}</td></tr>
    <tr><td>{{jobrole}} at {{company}}</td></tr>
  </table>
</div>
</div>


{% endblock %}
