{% extends "layout.html" %}

{% block title %}
Progress
{% endblock %}

{% block main %}

<div class="uk-card uk-card-default uk-card-small">

  <div class="uk-text-center uk-card-body uk-text uk-text-lighter" id="width">
    <h3>{{rows[0]['firstname']}} {{rows[0]['lastname']}}</h3>
    <p>Enrolled in: {{rows[0]['pathwayEnrolled']}}</p>
    <p>Enrolled since: {{rows[0]['pathwayEnrolledDate']}}</p>
    {% if rows[0]['appointed'] == 1 %}
      <p>Appointment date: {{rows[0]['dateappointed']}}</p>
    {% endif %}

<a class="uk-button uk-button-primary" href="/updatedates?id=dates&name={{rows[0]["email"]}}&pathwayname={{rows[0]['pathwayEnrolled']}}"> Update Dates </a>
</div>
  <table class="uk-table uk-table-middle uk-table-divider uk-text uk-text-lighter">
    <thead>
      <th>Stage</th>
      <th>Content</th>
      <th>Notes</th>
      <th>Owner</th>
      <th>Date Completed</th>
    </thead>
    <tbody>
      {% for pathwayprogress in pathwayprogress %}
      <tr style="background-color:#e0edf5">
        <td style="text-align: center"><small>{{ pathwayprogress["stagenumber"] }}</small></td>
        <td ><small>{{ pathwayprogress["stagecontent"] }}</small></td>
        <td><small>{{ pathwayprogress["stagenotes"] }}</small></td>
        <td><small>{{ pathwayprogress["stageowner"] }}</small></td>
        <td><small>{{ pathwayprogress["datecompleted"] }}</small></td>
        <td uk-tooltip="title: Mark Incomplete"><a href="/stagecomplete?id=delete&name={{rows[0]["email"]}}&pathwayname={{rows[0]['pathwayEnrolled']}}&pathwaystage={{pathwayprogress["stagenumber"]}}" class="uk-icon-button" uk-icon="close"></a></td>
      </tr>
      {% endfor %}
      <tr></tr>
      {% for pathwayremaining in pathwayremaining %}
      <tr style="background-color:#f7f7f7">
        <td style="text-align: center"><small>{{ pathwayremaining["stagenumber"] }}</small></td>
        <td><small>{{ pathwayremaining["stagecontent"] }}</small></td>
        <td><small>{{ pathwayremaining["stagenotes"] }}</small></td>
        <td><small>{{ pathwayremaining["stageowner"] }}</small></td>
        <td colspan="2" style="text-align: right"><a href="/stagecomplete?id=complete&name={{rows[0]["email"]}}&pathwayname={{rows[0]['pathwayEnrolled']}}&pathwaystage={{pathwayremaining["stagenumber"]}}" class="uk-icon-button" uk-icon="icon: check; ratio: 1.2"></a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <div id="center">
    <a href="/pathways" class="uk-button uk-button-primary">Back To Pathways</a>
    <button class="uk-button uk-button-danger uk-margin-small-right" type="button" uk-toggle="target: #modal-example">Remove From Pathway</button>
  </div </div>

  <div id="center">



    <div id="modal-example" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">Warning!</h2>
        <p>Are you sure you want to remove this person? This cannot be undone.</p>
        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
            <a href="/delete?id=enroll&name={{rows[0]["email"]}}&pathwayname={{rows[0]['pathwayEnrolled']}}" class="uk-button uk-button-danger" type="button">Confirm</a>
        </p>
    </div>
</div>

  {% endblock %}
