{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

<script>



</script>

{% block main %}

<head>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script type=text/javascript>
      $(document).ready(function() {
        $("#confirm_password").keyup(validate);
      });


      function validate() {
        var password1 = $("#password").val();
        var password2 = $("#confirm_password").val();



          if(password1 == password2) {
             $("#validate-status").text("Passwords match");
          }
          else {
              $("#validate-status").text("Passwords do not match");
          }

      }
    </script>


</head>


<div class="uk-card uk-card-default uk-card-small">
            <div class="uk-text-center uk-card-body">
                <h2 class="uk-text uk-text-lighter">Create your profile</h2>
            </div>

<form action="/register" method="post" id="form" uk-grid>
        <div class="uk-width-1-2@s">
            <input autocomplete="off" autofocus class="uk-input" name="firstname" placeholder="First Name" type="text" required>
        </div>
        <div class="uk-width-1-2@s">
            <input autocomplete="off" class="uk-input" name="lastname" placeholder="Surname" type="text" required>
        </div>
        <div class="uk-width-1-1">
            <input autocomplete="off" class="uk-input" name="email" placeholder="Email" type="text" required>
        </div>
        <div class="uk-width-1-2@s">
            <input class="uk-input" type="password" name="password" placeholder="Password" id="password" required'/>
        </div>
        <div class="uk-width-1-2@s">
            <input class="uk-input" type="password" name="confirm_password" placeholder="Confirm Password"  id="confirm_password"/>
        </div>
        <div class="uk-width-1-1">
          <span id='message'></span>
          <p id="validate-status"></p>
        </div>

        <div class="uk-width-1-2@s">
            <input class="uk-input" name="company" placeholder="Company" type="text" required>
        </div>
        <div class="uk-width-1-2@s">
            <input autocomplete="off" class="uk-input" name="jobrole" placeholder="Job Role" type="text" required>
        </div>
          <div class="uk-width-1-1">
          <button class="uk-button uk-button-primary" type="submit">Register</button>
        </div>
        <div class="uk-width-1-1">
          <p class="uk-text uk-text-lighter">Already have an account? <a href="/login">Click here to login</a></p>
        </div>
</form>



{% endblock %}
