{% extends "layout.html" %}

{% block title %}
People
{% endblock %}

{% block main %}

<div class="uk-card uk-card-default uk-card-small">

  <div class="uk-text-center uk-card-body">

    <div class="uk-text-center uk-card-body">
      <h2 class="uk-text uk-text-lighter">{{ rows[0]["firstname"] }} {{ rows[0]['lastname'] }}</h2>
      <p>Email: {{ rows[0]['email'] }}</p>
    </div>

    <div class="center">
      <table class="uk-table uk-table-small uk-text uk-text-lighter">
        <form method="POST">
          <thead>
            <th class="uk-table uk-table-small"></th>
            <th class="uk-table uk-table-small"></th>
          </thead>
          <tr>
            <td style="text-align: right;">Mobile Phone</td>
            <td><input type="text" name="mobile" value="{{ rows[0]['mobile'] }}"></td>
          </tr>
            <td style="text-align: right;">Business A M</td>
            <td><input type="text" name="bam" value="{{ rows[0]['bam'] }}"></td>
          </tr>
          <tr>
            <td style="text-align: right;">History</td>
            <td>
              <select class="uk-select" name="history">
                {% for lanes in lanes %}
                <option>{{ lanes['pathwayName'] }}</option>
                {% endfor %}
              </select>
            </td>
          </tr>
          <tr>
            <td style="text-align: right;">Ex Employed Deal</td>
            <td><input type="text" name="exemployeddeal" value="{{ rows[0]['exEmployedDeal'] }}"></td>
          </tr>
          <tr>
            <td style="text-align: right;">Expires in</td>
            <td><input type="text" name="exemployeddealexpiry" value="{{ rows[0]['exEmployedDealExpiry'] }}"></td>
          </tr>
          <tr>
            <td style="text-align: right;">Business Written Previous Month</td>
            <td><input type="text" name="businessWrittenPreviousMonth" value="{{ rows[0]['businessWrittenPreviousMonth'] }}"></td>
          </tr>
          <tr>
            <td style="text-align: right;">Business Written Since Appointment</td>
            <td><input type="text" name="businessWrittenYearToDate" value="{{ rows[0]['businessWrittenYearToDate'] }}"></td>
          </tr>
          <tr>
            <td style="text-align: right;">Minimum Income Threshold :</td>
            <td><input type="text" name="minincome" value="{{ rows[0]['minincome'] }}"></td>
          </tr>
          </table>
          <input type="hidden" name="email" value="{{ rows[0]['email'] }}">
          <br />
          <button class="uk-button uk-button-primary" type="submit">Update Fields</button>
          <br />
        </form>
    </div>
  </div>
</div>

{% endblock %}
