{% extends "layout.html" %}

{% block title %}
Pathways
{% endblock %}

{% block main %}


<div class="uk-card uk-card-default uk-card-small">

  <div class="uk-text-center uk-card-body">
    <h2 class="uk-text uk-text-lighter">{{pathwayName}}</h2>

    <a href="#enrolled" class="uk-button" uk-icon="icon: users; ratio: 1.5" data-uk-smooth-scroll></a>

    <p><small>{{pathwayDescription['pathwayDescription']}}</small></p>
  </div>

  <table class="uk-table uk-table-middle uk-table-hover uk-table-divider uk-text uk-text-light">
    <thead>
      <th class="uk-table-small">Stage</th>
      <th class="uk-table-middle">Content</th>
      <th class="uk-table-middle">Owner</th>
      <th class="uk-table-middle">Notes</th>
    </thead>
    <tbody>
      {% for row in rows %}
      <tr>
        <td style="text-align: center; vertical-align: middle;"><small>{{ row["stagenumber"] }}</small></td>
        <td><small>{{ row["stagecontent"] }}</small></td>
        <td><small>{{ row["stageowner"] }}</small></td>
        <td><small>{{ row["stagenotes"] }}</small></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <h3 class="uk-text uk-text-lighter uk-text-center uk-card-body" id="enrolled"> Currently Enrolled</h3>

  <table class="uk-table uk-table-middle uk-table-divider uk-text uk-text-lighter ">
    <thead>
      <th>Name</th>
      <th style="text-align: center; vertical-align: middle;">Stage</th>
      <th style="text-align: center; vertical-align: middle;">Enrolled</th>
      <th style="text-align: center; vertical-align: middle;">Progress</th>
    </thead>
    <tbody>
      {% for people in people %}
      <tr>
        <td><a href="/progress?name={{people["email"]}}&pathway={{pathwayName}}">{{people['firstname']}} {{people['lastname']}}</a></td>
        <td style="text-align: center; vertical-align: middle;">{{people['pathwayEnrolledPosition']}}</td>
        <td style="text-align: center; vertical-align: middle;">{{people['pathwayEnrolledDate']}}</td>
        <td style="text-align: center; vertical-align: middle;">{{people['pathwayEnrolledProgress']}}%</td>
        <td style="text-align: center; vertical-align: middle;"><a href="/progress?name={{people["email"]}}&pathway={{pathwayName}}"><span uk-icon="icon: more"></span></a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>


  <div id="center">
    <a href="/enroll" class="uk-button uk-button-primary">Enroll on pathway</a>
    <br><br><br>
    <a href="/pathways" class="uk-button uk-button-secondary">Back To Pathways</a>
    <a href="/delete?pathway={{pathwayName}}&name={{FullName}}%id=pathway" class="uk-button uk-button-danger" onclick="return confirm('Are you sure you want to delete? This cannot be undone.')">Delete Pathway</a>
  </div

</div>

  {% endblock %}
