{% extends "layout.html" %}

{% block title %}
{{ rows[0]["firstname"] }} {{ rows[0]['lastname'] }}
{% endblock %}

{% block main %}

<div class="uk-card uk-card-default uk-card-small">

  <div class="uk-card-body" id="width">

    <div class="uk-text-center uk-card-body">
      <h3>{{ rows[0]["firstname"] }} {{ rows[0]['lastname'] }}</h3>
      <span class="uk-badge uk-badge-success"><span uk-icon="icon: bolt; ratio: 0.8">{{rows[0]['score']}}</span></span>
    </div>

    <ul uk-accordion="multiple: true">
      <li class="uk-open">
          <a class="uk-accordion-title" href="#">Business Written</a>
          <div class="uk-accordion-content">
            <table class="uk-table uk-table-small uk-text uk-text-lighter">
              <tr><td >Business Target For Appointment Duration : £{{targetnumber}}</td></tr>
              <tr><td {{style}}>Business Written Since Appointment : £{{ rows[0]['businessWrittenYearToDate'] }}   <td id="{{style}}">{{result}}</td></tr>

              <tr><td>Ex-employed deal: £{{ rows[0]['exEmployedDeal'] }}, expires in {{ rows[0]['exEmployedDealExpiry'] }} </td></tr>
              <tr><td>Business Written Previous Month: £{{ rows[0]['businessWrittenPreviousMonth'] }} </td></tr>
              <tr><td>Minimum Income Threshhold : £{{ rows[0]['minincome'] }} </td></tr>
              </table>
          </div>
      </li>
        <li class="uk-open">
            <a class="uk-accordion-title" href="#">Pathway</a>
            <div class="uk-accordion-content">
              <table class="uk-table uk-table-small uk-text uk-text-lighter">
                <tr><td>Enrolled in: <a href="/progress?name={{rows[0]["email"]}}&pathway={{rows[0]['pathwayEnrolled']}}">{{rows[0]['pathwayEnrolled']}}</a></td></tr>
                <tr><td>Progress: {{rows[0]['pathwayEnrolledProgress']}}%</td></tr>
                <tr><td>Enrolled Since: {{rows[0]['pathwayEnrolledDate']}} ({{rows[0]['daysinpathway']}} days)</td><tr>
                <tr><td>Expected To Graduate On: {{rows[0]['estcompletion']}}</td></tr>
                </table>
            </div>
        </li>
        <li>
            <a class="uk-accordion-title" href="#">Contact Information</a>
            <div class="uk-accordion-content">
              <table class="uk-table uk-table-small uk-text uk-text-lighter">
              <tr><td>Mobile Phone: {{ rows[0]['mobile'] }} </td></tr>
              <tr><td>Email: {{ rows[0]['email'] }} </td></tr>
              <tr><td>Business Manager: {{ rows[0]['bam'] }} </td></tr>
              <tr><td>Lane: {{ rows[0]['history'] }} </td></tr>
              </table>
            </div>
        </li>

    </ul>

        <div id="center">
          <a class="uk-button uk-button-secondary" href="/updatefields?name={{rows[0]['email']}}">Update Fields</a>   <a class="uk-button uk-button-danger" href="/delete?id=person&name={{rows[0]['email']}}"onclick="return confirm('Are you sure you want to delete this person?\r\rThis cannot be undone.')">Delete Person</a>
        <div id="center">
          <a href="/people" class="uk-icon-link" uk-icon="icon: chevron-left;ratio: 2"></a>
        </div>
        </div>

<script>

    UIkit.util.ready(function () {

        var bar = document.getElementById('js-progressbar');

        var animate = setInterval(function () {

            bar.value += 1;

            if (bar.value <= bar.max) {
                clearInterval(animate);
            }

        }, 1000);

    });

</script>
    </div>

  </div>

  {% endblock %}
